.canvas{
    margin:100px auto 100px;
    text-align: center;
}

ul{
    list-style-type: none;
}

#guide{
    margin: 100px auto 100px;
    border: solid 2px black;
    border-radius: 15px;
    padding: 1px 1px 1px 1px;

}